<mat-card>
        
    <mat-card-header>
        <mat-card-title>
            {{ movie.title }}
        </mat-card-title>
    </mat-card-header>

    <img mat-card-image [src]="movie | imagen">

    <mat-card-content>
        <h3>{{ "Information" }}</h3>
        <div fxLayout="row">
            <span class="material-icons" fxFlexAlign="center">
                star_half
            </span>
            <strong fxFlexAlign="center">Rating: </strong>
            <span fxFlexAlign="center">{{ movie.rating }}</span>
        </div>
        
    </mat-card-content>

    <mat-card-actions>

        <button mat-button 
                color="warn"
                [routerLink]="['/movies', movie.id]">
            <mat-icon>info</mat-icon>
            Watch Info...
        </button>

        <button mat-button 
                color="info"
                [routerLink]="['/movies/favorite', movie.id]">
                Add Favorite
                <mat-icon>favorite</mat-icon>
        </button>

    </mat-card-actions>

</mat-card>