<h1>List Of Movies</h1>
<mat-divider></mat-divider>
<br>

<div class="container">
     <h4>Sort by: {{selected | titlecase}} </h4>
     <mat-form-field style="padding-left: 10px; padding-right: 10px;">
          <mat-label>Select an option</mat-label>
               <mat-select [(value)]="selected">
                    <mat-option>None</mat-option>
                    <mat-option value="title">Title</mat-option>
                    <mat-option value="releasedDate">Released Date</mat-option>
          </mat-select> 
          
          
     </mat-form-field>
          
     <button mat-mini-fab color="primary" (click)="ordenar(selected)">
          <mat-icon>filter_list</mat-icon>
     </button>
     
</div>


<div class="container" style="padding-left: 10%;">    
     <!--Agregamos una propiedad de flex-layout para colocar en filas y adicionalmente agregamos la propiedad wrap para que cuando ya no quepa en el contenedor salte automaticamente a la siguiente línea-->
     <div fxLayout="row wrap"
          fxLayout.xs="column"
          fxLayoytAlign="center"
          fxLayoutGap="20px">
     
         <!--Ahora indico que tan grandes quiero que sean las tarjetas en porcentaje-->
         <div fxFlex="20"
              fxFlex.lg="20"
              fxFlex.sm="45"
              *ngFor="let movie of movies">
     
             <app-movie-tarjeta [movie]="movie"></app-movie-tarjeta>
     
     </div>
</div>