<h1>Listado De Películas</h1>
<mat-divider></mat-divider>
<br>

<!--Agregamos una propiedad de flex-layout para colocar en filas y adicionalmente agregamos la propiedad wrap para que cuando ya no quepa en el contenedor salte automaticamente a la siguiente línea-->
<div fxLayout="row wrap"
     fxLayout.xs="column"
     fxLayoytAlign="center"
     fxLayoutGap="20px">

    <!--Ahora indico que tan grandes quiero que sean las tarjetas en porcentaje-->
    <div fxFlex="20"
         fxFlex.lg="15"
         fxFlex.sm="30"
         *ngFor="let movie of movies">

        <app-movie-tarjeta [movie]="movie"></app-movie-tarjeta>

</div>